body{
    background: -webkit-linear-gradient(180deg, #0327c4, #03197c, #010e48);
	background: -moz-linear-gradient(180deg, #0327c4, #03197c, #010e48);
	background: -o-linear-gradient(180deg, #0327c4, #03197c, #010e48);
	background: linear-gradient(180deg, #0327c4, #03197c, #010e48);
	color: #0327c4;
}

h1{
	color: #f4f0cd;
	text-shadow:1 1 10px rgb(154, 135, 106);
	font-family: fantasy;
	/* add some padding around the title */
	padding: 20px;
	/* center the title text */
	text-align: center;
	font-size: large;
}

h2{
	color:#f4f0cd;
	text-shadow:1 1 10px rgb(154, 135, 106);
    font-family: fantasy;
	/* add some padding around the title */
	padding: 20px;
	/* center the title text */
	text-align: center;
	font-size: large;
}

h3{
	color: #f4f0cd;
	text-shadow:1 1 10px rgb(154, 135, 106);
	font-family: fantasy;
	/* add some padding around the title */
	padding: 20px;
	/* center the title text */
	text-align: center;
	font-size: large;
}

p{
	color: #f4f0cd;
	text-shadow:1 1 10px rgb(154, 135, 106);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 15px;
}

a:visited{
	color: #f4f0cd;
}